.item {
  width: 200px;
  height: 215px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #d9d9d9;
  border-radius: 25px;
  /* border: 1px solid transparent;
  border-image: linear-gradient(
    to bottom right,
    #b827fc 0%,
    #2c90fc 25%,
    #b8fd33 50%,
    #fec837 75%,
    #fd1892 100%
  );
  border-image-slice: 1; */
}

.item img {
  height: 64px;
  width: 64px;
  margin-top: 25px;
}

.item .name {
  margin-top: 10px;
}

.item .amount {
  margin-top: 10px;
}

.item .price {
  margin-top: 25px;
}

.item button {
  width: 160px;
  height: 40px;
  cursor: pointer;
  outline: none;
  background: #e9e9e9;
  border: 1px solid black;
  margin-top: auto;
  margin-bottom: 10px;
}

.item button:hover {
  background: #dcdcdc;
}

.itemsList {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 5px;
  margin-bottom: 15px;
  padding-left: 20px;
}

.modalInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buy {
  display: flex;
  flex-direction: column;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalContent img {
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
}

.modalContent input {
  height: 40px;
  margin-bottom: 10px;
  outline: 0;
  border: 1px solid black;
  border-radius: 0;
  padding-left: 10px;
}

.modalContent button {
  height: 40px;
  width: 100%;
}
